.menu{
  background-color: blue;
}
body{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
header {
  background-color: #1e88e5;
  padding: 20px;
  color: white;
  text-align: center;
}
.navbar ul {
  background-color: white;
  list-style-type: none;
  margin: 15px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li a {
  font-weight: bold;
  font-size: 200%;
  padding: 8px 30px;
  display: block;
  color: #000;
  text-align: center;
  text-decoration: none;
}

/* Para la lista al pasar el ratón */
nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.imagen-container {
  position: relative;
  display: inline-block;
}

.imagen-container h3 {
  position: absolute;
  background-color: black;
  font-size: 200%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 5px 10px;
}
